<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ce62f06a9a.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{fragments/header.html::header}"></div>
<div class="container mt-4">
    <form action="/reviews" method="post">
        <div class="mb-3">
            <label for="review" class="form-label">Review</label>
            <textarea class="form-control" name="review" id="review" rows="3"></textarea>
        </div>
        <input type="submit" value="submit" class="form-control">
    </form>
</div>
<i class="fa-regular fa-heart"></i>
<div class="container mt-4" th:each="review:${reviews}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" th:text="${review.review.user.getFirstname()+' '+review.review.user.getLastname()}"></h5>
            <h6 class="card-subtitle mb-2 text-body-secondary" th:text="${review.review.createdAt}"></h6>
            <p class="card-text" th:text="${review.review.text}"></p>
            <a th:href="@{/reviews/like/{id}(id=review.review.id)}" th:if="${!review.isLiked}" class="card-link"><i class="fa-regular fa-heart"></i></a>
            <a th:href="@{/reviews/unlike/{id}(id=review.review.id)}" th:if="${review.isLiked}" class="card-link"><i class="fa-solid fa-heart"></i></a>
        </div>
    </div>

</div>
<div class="container">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:if="${currentPage==0}" href="#" aria-label="Previous">
                    <span aria-hidden="true" >&laquo;</span>
                </a>
                <a class="page-link" th:if="${currentPage>0}" th:href="@{/reviews(page=${currentPage-1})}" aria-label="Previous">
                    <span aria-hidden="true" >&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" th:href="@{/reviews(page=${currentPage})}" th:text="${currentPage+1}"></a></li>
            <li class="page-item"><a class="page-link"  th:if="${(currentPage+2)<=totalPages}" th:href="@{/reviews(page=${currentPage+1})}" th:text="${currentPage+2}">2</a></li>
            <li class="page-item"><a class="page-link" th:if="${(currentPage+3)<=totalPages}" th:href="@{/reviews(page=${currentPage+2})}" th:text="${currentPage+3}" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" th:if="${(currentPage+4)>=totalPages}" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                <a class="page-link" th:if="${(currentPage+4)<totalPages}" th:href="@{/reviews(page=${currentPage+3})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>

</html>